* {
    margin: 0;
    padding: 0;
}

.app {
    margin: 10px 10px;
    padding: 5px 5px;
}

#description-section {
    margin: 10px 0px;
}

img {
    width: 100%;
    height: auto;
}

button {
    padding: 10px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

.picture-amount {
    margin: 5px;
}

.image-section {
    margin: 10px;
}

div.close-photos-notification {
    width: 100%;
}

div.close-photos-notification a {
    display: block;
    text-decoration: none;
    float: left;
    width: 60%;
}

div.close-photos-notification p {
    display: block;
    text-decoration: none;
    float: right;
    cursor: default;
    margin: 0;
    width: 30%;
}

div.close-photos-notification a, 
div.close-photos-notification p {
    padding: 5px;
    background: #4FC3F7;
    text-align: center;
    color: white;
    font-size: 1.4em;
    text-transform: uppercase;
}

.clear-fix {
    clear: both;
}

